<h1>Welcome to The Underdog Rescue</h1>

<img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/slideshows/cat_people_vs_dog_people_slideshow/1800x1200_cat_people_vs_dog_people_slideshow_alt.jpg" width="600" height="400" alt="people with dogs">

<h3>We believe all dogs deserve a furever home</h3>

<a href="/adoptables">Check out our adoptable pups!</a>